@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  max-width: 1000px;
  margin: auto;
}

.card-container {
  display: flex;
  justify-content: space-between;
  background-color: hsl(244, 38%, 16%);
  max-width: 1000px;
  border-radius: 8px;
}

h1 {
  color: hsl(0, 0%, 100%);
}

h1 .destacado {
  color: hsl(277, 64%, 61%);
}

main {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
}

.card {
  padding: 50px;
}

.image img {
  border-radius: 0 8px 8px 0;
  margin-bottom: -4px;
}

.stats {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-weight: bold;
  padding-top: 50px;
}

.stat-headings {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  
}
